<h1>Explore Small Examples:  Find a Pattern</h1>

<p>
This is the first thing I try when I get stuck.  The idea is a simple one:

<ol>
  <li>Start with the smallest version of the question you can.</li>
  <li>Then make it "1 larger".</li>
  <li>Keep going and organize your results in a table.</li>
  <li>Try to find a pattern you can use.</li>
</ol>

Some examples should make this clearer.
</p>

<h3>Examples:  How to start</h3>

<p><b>Problem 1:  Cutting a pancake</b>
What's the maximum number of pieces you can cut a pancake into with 10 straight cuts?
</p>
<p>This is hard to experiment with.  If you draw 10 lines, it's hard even to count the pieces.  And how in the world can you know if you could get more pieces?
</p>
<p>SO:  Explore small cases!  How many pieces can you get with just 1 cut?  That's easy.  How many pieces can you get with 2 cuts?  Also easy.  3 cuts?  It helps to organize your experiments in a table.  See any patterns that might help you with the original problem?
</p>
<p>(Note:  This is great for beginning problem solvers.  The next step is understanding why the pattern is really there, and proving that it will continue.  To see this next step, look at our tutorial on **link**).
</p>

<p><b>Problem 2:  Game on a circular table.</b>
You have a circular table.  You and a partner will take turns putting pennies flat on the table.  You can't overlap another penny, and you can't hang your penny off the edge of the table.  The first player who can't put a penny down because there's not enough room looses.  Explain how the 1st player can always win.
</p>
<p>
This problem is different because there aren't any numbers!  The answer is also not a number, but a strategy.  How can you start?  How big is the table?  It sounds like the strategy should work on tables of any size.
</p>
<p>So:  Explore small examples!  Start with the smallest table you possibly can.  How small is that?  Well, it needs to be at least the width of a penny for anyone to play at all, so let's start with that table.  Obviously, the 1st player will always win because there's only room for one penny.
</p>
<p>So, let's make the table "1 bigger".  What's that?  Well, how about making a circular table that's as wide as 2 pennies.
</p>
<p>So, let's make the table "1 bigger".  Let's look at a table that's 3 pennies wide.
</p>

<p>***Need a problem where we can vary 2 things.  make the point that you should only change one thing at a time when you explore.  Also make the point that when you organize in a table, it can be a 2-dimensional table!*****
</p>

<p><b>Problem 4:  Consecutive Sums</b>
A consecutive sum is any sum with 2 or more consecutive positive integers.  For example:  2 + 3 + 4 is a consecutive sum.  198 + 199 is a consecutive sum.  40 + 41 + 42 + ... + 78 + 79 is a consecutive sum.<br />
Question:  What's the largest integer less than 1500 that isn't equal to a consecutive sum?
</p>
<p>
There are a few different ways to explore small examples with this problem.<br /><br />
<i>Approach #1</i><br />
Start trying to make small integers and work your way up.<br />
Try to make the integer 1 as a consecutive sum.<br />
Try to make the integer 2 as a consecutive sum.<br />
Try to make the integer 3 as a consecutive sum.<br />
etc.<br />
This could work, but it's probably going to be hard to see a pattern this way.  So let's try the same technique in another way.
</p>

<p><i>Approach #2:</i>
Instead of starting with small numbers, and trying to find consecutive sums that make them, let's start by looking at the sums.<br />

We'll look at what numbers we can make with small consecutive sums.

The smallest consecutive sum I can think of is:

0 + 1  = 1

What's next?  Maybe

1 + 2  = 3
2 + 3  = 5
3 + 4  = 7
...

Already a pattern!  We can make all the odd numbers.

What's the next biggest consecutive sum?  How about:

0 + 1 + 2   = 3
1 + 2 + 3   = 6
2 + 3 + 4   = 9
3 + 4 + 5   = 12
...

Another pattern!  We can also make all multiples of 3!

You can continue your exploration this way.  Once you know all the numbers you <i>can</i> make--all the numbers you <i>can't</i> make should be clear.

</p>
