<h3>Graph Theory</h3>

<p>This tutorial should tell you some useful things about graphs in a quick, direct way.  It's not going to be a complete or a formal introduction.  With that said....
</p>

<p><b>Graph theory</b> isn't about these kinds of graphs.  It's about the relationships you can represent with pictures like this:
</p>

<p>This sort of picture made of dots connected by lines, is (also) called a graph.  Graphs are often an extremely useful way of looking at a situation.  Here's a few simple situations and the graphs that represent them:</p>

<p>A little vocabulary: the dots in a graph are called <b>nodes</b>, and the lines are called <b>edges</b>.  If two nodes are connected by a line, we say they're <b>adjacent</b> to each other.  The <b>degree</b> of each node is the number of edges connected to it.  (In the picture, node A has degree 3).</b>

<p>You can make the nodes and edges mean whatever you like, but for the rest of the tutorial, we'll just think about the pictures themselves.
</p>

<b>Some useful facts</b>
<p>Our first useful fact is kind of obvious if you think about it:<br />

<b>Useful Fact #1:</b>  The sum of the degrees of all the nodes in a graph equals twice the number of edges.

<br />
Since each edge connects to two nodes, when you add all the node degrees up, it makes sense that it should be twice as large as the number of edges.  I like to think about adding the edges of the graph in one at a time, and how this changes the degree numbers of the graph.
</p> 


</p>