<h1>Introduction to Problem Solving</h1>

<h2>Problem Solving: (probably) not like math class</h2>
<p>When I think of a math class, I think of doing problems 1-35 odd.  Maybe your math classes were better than mine, but I remember doing a lot of drill.  Drills in math are like drills in anything else--they're like practicing your scales, or your dribbling.  It could be useful, but it's usually not much fun.</p>

<p><b>Real problem solving isn't like doing drills</b>--it's a lot more creative and independent.  There's a question you have no idea how to answer and you have to play with it, experiment, invent new ways of looking at it--do whatever you can until it starts to crack.</p>

<p>What sort of questions?  Hopefully something that catches your interest.  </p>

<p>A question I'm curious about is whether it's possible to deal the cards in a game of War so that the game gets stuck in a loop and goes on forever.  I know it's possible if you only have 6 cards in your deck. (if you deal the cards randomly, you'll have a 10% chance of getting stuck in an infinite game).  If there are 52 cards in the deck, I'm not sure of the answer; I'm still working on that problem. (help me out!)</p> [**picture revealing how to deal 6 cards for an infinite game of war**]

<p>Here's one more I'm curious about.  I've drawn an X inside this square.  Any straight line that passes though the square will also hit my drawing.  Can you make a shorter drawing that will also "block" any straight line that goes through the square?  What's the shortest drawing possible that will do this?  This question is actually an unsolved problem: no one knows what the shortest drawing is (not yet anyway).
</p>

<p>In soccer there are rules for playing, but no steps to follow to guarentee you'll win.  In math class, there are steps to follow that will let you find the answer.  Problem solving is more like soccer.  There are some rules for playing, but no steps to follow that will guarentee you'll solve the problem.
</p>

<h2>Why do it?</h2>
<p>
We do it because it's fun.  A lot of people like Sudoku puzzles or crosswords because it's fun to stretch your brain a little bit, and it's satisfying to know you solved a hard puzzle.  Math puzzles are like this, only you can be more creative, and they give a much more satisfying "ah ha!" feeling at the end.  Also, sometimes investigating a simple question lets you discover breath-taking patterns if you know how to look.  (For a good example of this, check out a short example [**link**]).  Ok, enough pep talk.
</p>

<h2>How to start</h2>

<h3>Getting from What you Know to What you Want</h3>

<p>Problem solving (mathematical or not) is all about figuring out how to get from <i>here</i> to <i>there</i>.
<%= image_tag("problem_solving_intro.png") %>
</p>

<p>***Examples of things you might know, and things you might want.  Impact the truth that problem solving is all about getting from here to there.***</p>

<p>Your first three questions should always be:
<ol>
  <li><b>What do I know</b> about the situation?</li>
  <li><b>What do I want?</b>  What am I trying to do?</li>
  <li><b>What could I try?</b></li>
</ol>
</p>

<%= image_tag("problem_solving.png") %>

<p>Sometimes, just answering these questions for yourself is enough.  If you have ever realized how to solve a problem when you were trying to explain it to someone else, then you were using this strategy.</p>

<h3>Try anything you can.  Figure out everything you can.</h3>

<p>This is a kind of connect-the-dots strategy to problem solving.  You might not see how to get to the solution all at once, so you try anything you can to figure out <i>something else</i> (anything else) about the situation.  If you can figure out more information, you may have moved closer to the solution.  The new information may give you another idea to try.  Do that a few times, and you might end up at the solution!</p>

<%= image_tag("problem_solving_forward.png") %>

<p>Some things you figure out might be useless--those are the dead ends.  But if you keep pushing forwards, you may take little steps, connect the dots, and find what you wanted after all.</p>

<p>For more information about this, plus examples and practice, see [**link**].  Sometimes it also pays off to try and work backwards.  For more information, examples, and practice with this idea, see [***link***]</p>

<h3>Explore Small Examples:  Find a pattern</h3>
<p>This is probably the most useful problem solving strategy.  Start with the smallest version of the problem you can think of.  Then try something one larger, and then one larger than that.
</p>

<p>Does your problem involve 100 people?  Try the problem with 1 person first, then 2 people, then 3.
</p>

<h3>Make the Problem Simpler</h3>
<p>Exploring small examples is one way to make your problem simpler.  There are also others.  Ask yourself:  "What would make this problem easier?"  Whatever the answer is, try it.  Solve the easier problem first, and then try to figure out what that tells you about the harder version.
</p>

<h3>Look at the Problem in a New Way</h3>
<p>

</p>


<h2>Next steps...</h2>
<b>Asking your own questions</b>
<p>
School often kills the fun in math by asking questions you don't care about, and then telling you, step-by-step, how to solve them, leaving you the task of robotically carrying out the calculations.  Problem solving is more fun, because you get to figure out your own approach and experience the joy of understanding.  But we're still asking the questions.
</p>

<p>The last step is to start getting curious about your own questions.  No puzzle will be as motivating as one you think of that you're genuily curious about.  For instance, I was watching some students play the (really boring) card game War.  It looked like it was taking forever (which is a characteristic feature of the game), and I got curious whether it was actually possible to get "stuck in a loop" so the game <i>would</i> actually go forever.  And if it was possible, what was the probability it would happen?  I thought it would make a more interesting question if I simplified the game a little bit, and I ended up with my War question--one I still haven't solved to my satisfaction (so please help!).  The binary strings problem, and flexigon problem(s) on this site are examples of problems other friends and aquantances of mine thought up.  If you think of a good problem, let us know!
</p>

<p>Happy puzzling!</p>

* * * 

We also think it's a lot more fun to do them with other people.  We recommend getting some coffee and pie or doughnuts (or sushi, or whatever) and solving puzzles in a social way.  It's amazing to see how differently other people think; it makes you smarter to see other approaches, and you can often solve a problem together that none of you could solve by yourselves, with each person pushing the solution forwards a little bit.  (This happens with my wife and I all the time).  