<h3>Introduction to Proofs</h3>

<p>One perspective is that problems requiring proof are kind of lame because there's no number to get as your answer at the end.  Another is that they're confusing and scary.  I hope this introduction will convince you that they don't have to be confusing or scary, and that they can be some of the coolest, most rewarding problems to work on.
</p>

<p>When I was in school, someone gave me the idea that the point of proofs is so you can be certain a pattern will continue.  For example...****
</p>

<p>I always felt like no lives were at stake here and I didn't care that much about being totally certain about them.  I was more interested in seeing something cool, and a proof seemed like a laborious after-thought.
</p>

<p>Maybe some proofs are like this, but the kind of proofs I have in mind aren't long or tedious, and don't need to be written in an arcane language.  At their best, they're simple, clear explanations in plain English that make the solution immediately obvious.  This is why they're so cool.  Instead of an after-thought to be certain, a good proof will show you the problem in a new and powerful way.
</p>

<h4>Two Examples</h4>

<p>
<b>Problem 1:  Here is a game.  A coin is placed in the lower left-hand corner of this board.  Players take turns moving the coin either right or up a single square.  The player who moves the coin into the upper right-hand corner of board wins.  Prove that no matter how the first player moves, the second player can always win.</b>
</p>

<p>Think about this a little while yourself.  Maybe try playing the game with someone.  How could you possibly <i>prove</i> that the first player can always win?  It seems like you'd have to explore every single possible sequence of moves the 1nd player could make.</p>

<p>Click here to see the proof!
Imagine a checker-board pattern on the board.  Notice that no matter how the 1st player moves, they can only move to a blank square, and the 2nd player can always move back on to a shaded square.  This means that the 2nd player can ensure that they are always moving on to shaded squares, and forcing the 1st player to only move on to blank squares.  Since the winning square is shaded, this means that the 2nd player can ensure that they land there.
</p>

<b>Common Ways to Prove Things</b>
<p>
The rest of this section has tutorials on some common approaches to proving things.  Here's a quick summary of the basic idea behind each one...
</p>

<ul>
	<li>Proofs by Contradiction</li>
	<li>Proving the Contrapositive</li>
	<li>Pigeon-hole proofs</li>
	<li>Proofs by induction</li>
</ul>