<h2>Working Backwards</h2>

Let's review the big idea about problem solving:
You know some things.  You want something.  You need to figure out how to get from what you know, to what you want.

<b>Working forwards</b>
The main way to do this is by working forwards.  You use what you know to figure something else out.  This might let you figure another thing out.  And soon you're connecting-the-dots to get all the way to the solution.

<b>Working backwards</b>
This tutorial is about working backwards.  Working backwards is about setting a new goal that will help you solve your problem, and working toward that goal.

---
race to 20

that one about 3 players where Jen solved it by working backwards.

The nested right triangles where you could work forwards or backwards.